.footer-nav-links{
  width: 100%;
  background-color: $pp-dark-blue;
  height: 200px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.footer-links{
  color:$soft-white !important;
}

.phone, .e-mail{
    background-color:#0075EB;
    height:50%;
    width: 100%;
}


.soical-links{
  display: flex;
  justify-content: center;
}

#phone-btn, #email-btn{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 !important;
}

#phone-btn{
  background-color: $pp-navy-blue !important;
}

#email-btn{
  background-color: $pp-dark-blue !important;
}

.social{
  width: 100%;
  height:100%;
  background-color:#0075EB;
}
