.intro{
  width: 100%;
  height:200px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $pp-dark-blue;
}

.pp-blog-intro{
  color:$white;
}

.articles{
  padding: 5%;
}
