$icon-height:80px;
$nav-icon-margins:20px 20px 0px;

.top-bar-right{
  margin-right: 1em;
}

.pplogo{
  margin-left:1em;
  width: 200px;
  padding: 10px;
}

.nav-icons {
  height:$icon-height;
}

.nav-txt{
  margin: 0;
  padding-top:5px;
  text-align:center;
}
