@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

/* Base Size */
$base:0.5em;

/**** Responsive Scales ****/
$ms-range:
1.1 15em,
1.333 60em;


$montserrat: 'Montserrat', sans-serif;
$type-color:#efefef;

h1, h2, h3, {
  font-family: $montserrat;
  font-weight: 500;
  color:$white;
}


h1, h2, {
  @include breakpoint(1200 down){
    font-size:2.125rem !important;
  }
}
