// Colors
$pp-red:#F05664;
$nav-color:#f5f5f5;
$pp-light-blue:#3399ff;
$pp-dark-blue:#1571be;


// BTM - Secondary
$pp-light-navy:#0075EB;
// TOP - Primary
$pp-navy-blue:#004F9E;

// side
$padding-sm-side:rem-calc(30px);
$padding-med-side:rem-calc(50px);
$padding-large-side:rem-calc(70px);
// all
$padding-sm:rem-calc(30px);
$padding-med:rem-calc(50px);
$padding-large:rem-calc(70px);
