.services-lightblue-box {
  @include breakpoint (medium only){
    padding: 0;
  }
}

.services-heading-text, .services-hours-txt{
  @include breakpoint(medium down){
  text-align:center;
  }
}
.services-hours-txt{
  @include breakpoint(medium down){
    padding:0 $padding-sm $padding-med;
  }
}
.services-img{
  @include breakpoint(medium down){
    display: none;
  }
}
.image-left-container2{
  @include breakpoint(medium down){
    height: 0px;
  }
}
.services-heading-text{
  @include breakpoint(medium down) {
    padding:$padding-med $padding-sm $padding-med;
  }
}
.intro{
  @include breakpoint(medium down) {
    padding:$padding-sm $padding-sm $padding-sm;
  }
}

.serivice-grid{
  @include breakpoint (520px down) {
    width:100%;
  }
}


.services-main{
  @include breakpoint (medium down) {
    padding:20px;
  }
}
