.services-img{
  @include img-scale;
}

.services-lightblue-box{
  @include center-txt;
  height: 100%;
  background-color: $pp-light-navy;
  position: relative;
}

.services-heading-text{
  @include font-bold(bold);
  // padding: 5%;
  padding: $padding-med;
}
.hours{
    padding: $padding-sm 0px 0px;
}
