@import "services-ani";

.services-main{
  position: relative;
  height:100%;
  padding: 3em;
  background-color:$pp-navy-blue;
}

.intro{
  position: relative;
  width: 100%;
  text-align: center;
}
.services-link{
  position: relative !important;
}
#services{
position: absolute;
top:-150px;
}

.click-info{
  font-size:rem-calc(18) !important;
  margin-bottom: 10px;
}

.serivice-grid{
  width: 70%;
}

.block-grid{
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
}

.service-icons, .icon-link{
  width: 200px;
  height: 300px;
}

.icon{
  padding:10px;
}
.our-services{
  padding:1em;
}

.icon-blue:hover{
  @include fade-out-service;
}
// TOP 4
$repair-hov:".hov-bg-repair";
$heater-hov:".hov-bg-heater";
$reroute-hov:".hov-bg-reroute";
$water-hov:".hov-bg-water";
// BTM 4
$waste-hov:".hov-bg-waste"; // Will change
$install-hov:".hov-bg-install";
$pressure-hov:".hov-bg-pressure";
$gasline-hov:".hov-bg-gasline";


#{$repair-hov}{
  background: url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Repair_h.svg') no-repeat center;
}

#{$heater-hov} {
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Heater_h.svg') no-repeat center;
}

#{$reroute-hov} {
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Reroute_h.svg') no-repeat center;
}

#{$water-hov} {
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Water_h.svg') no-repeat center;
}

#{$waste-hov}{
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/PM_h.svg') no-repeat center;
}

#{$install-hov}{
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Install_h.svg') no-repeat center;
}

#{$pressure-hov}{
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Pressure_h.svg') no-repeat center;
}

#{$gasline-hov}{
  background:url('https://s3-us-west-2.amazonaws.com/pointplumbing-2018/icons/services/hover/Gasline_h.svg') no-repeat center;
}

.reveal-overlay{
  transition-duration: 0.2s;
}

.service{
  color:$black;
}
