.services-img{
  @include img-scale;
}
.services-lightblue-box{
  @include center-txt;
  height: 100%;
  background-color: $pp-light-navy;
  position: relative;
}
.services-heading-text{
  @include font-bold(bold);
  padding: 5%;
}
.services-sub-h-text{
  padding: 5%;
  @include font-normal(normal);
}
