.light-navy-about{
  height:100%;
  width: 100%;
  background-color: $pp-light-navy;
  @include center-txt;
}

.about-intro-heading{
  @include font-bold(bold);
  padding: $padding-med $padding-sm $padding-med;
}
.about-intro-subhead{
  padding: 0 $padding-sm $padding-med;
}

.hero-about{
  @include img-scale;
}

.about-pp-navy-lft-box{
  @include center-txt;
  background-color: $pp-navy-blue;
  width: 100%;
  height:100%;
  position: relative;
  padding: $padding-med;
}

.about-pp-navy-rht-box{
  @extend .about-pp-navy-lft-box;
  background-color: $pp-light-navy;
}

.about-pointplumbing-lft{
  margin: 0;
}

.h5, .about-pointplumbing-rht {
  margin-bottom:0px !important;
}
