.about-intro-heading, .about-intro-subhead{
  @include breakpoint(medium down){
    text-align: center;
  }
}
.about-intro-heading{
  @include breakpoint(medium down){
    padding: $padding-med;
  }
}
.about-intro-subhead{
  @include breakpoint (medium down){
    padding: 0 $padding-med-side $padding-med;
  }
}
