html, body, .p-overlay{
  height:100%;
  overflow: hidden;
}
.no-js-message{
  text-align: center;
  visibility: hidden;
}
.page{
  opacity: 0;
  transition: opacity 0.5s
  // visibility: hidden;
}

.page-in-view{
  // visibility: visible;
  transition: opacity 0.5s;
  opacity: 1;
}

.p-overlay{
  display: block;
  background-color:$pp-navy-blue;
}

.logo-loader{
  width: 400px;
}

.logo{
  display: flex;
  justify-content: center;
  top: 40%;
  position: relative;
}

.hero-img{
  width: 100%;
  height: auto;
}

#homepp{
  display: none;
}

.top-light-blue{
  @include center-txt;
  justify-content: center;
  background-color:$pp-light-navy;
  height:55%;
  position: relative;
}
.btm-dark-blue{
  @include center-txt;
  background-color:$pp-navy-blue;
  height:45%;
  position: relative;
}

.al-ss{
  height: 100px;
  padding-right: 5%;
}

.al-ss-mobile{
  display: none;
}

.heading-hero{
  padding: 5%;
}
.subheading{
  padding: 0% 5% 0%;
}

.plumbing-prob{
  font-weight: bold !important;
}

.getintouch{
  font-weight: 600;
  margin-top:20px !important;
}

.getintouch:hover{
  background-color: $pp-red !important;
  transition: background-color, 0.5s;
}

.blue-boxes{
  height:100%;
}

.logo-loader{
  @include breakpoint(medium down){
    width: 200px;
  }
}

.top-light-blue, .btm-dark-blue{
  @include breakpoint(medium down){
    height:100%;
  }
}

.device{
  @include breakpoint(medium up){
    display: none;
  }
  @include breakpoint(medium down){
    display: flex;
  }
}

.desktop{
  @include breakpoint(medium down){
    display:none;
  }
}

.blue-boxes{
  @include breakpoint(medium down){
    height:350px;
  }
}

.al-ss{
  @include breakpoint(medium down){
    padding: 10px 0px 10px;
    height: 100px;
  }
}
.heading-hero,.subheading{
  @include breakpoint (medium down) {
    justify-content: flex-start;
    padding:10%;
  }
}
