html, body, .p-overlay{
  height:100%;
  overflow: hidden;
}
.no-js-message{
  text-align: center;
  visibility: hidden;
}
.page{
  opacity: 0;
  transition: opacity 0.5s
}

.page-in-view{
  transition: opacity 0.5s;
  opacity: 1;
}

.p-overlay{
  display: block;
  background-color:$pp-navy-blue;
}

.logo-loader{
  width: 400px;
}

.logo{
  display: flex;
  justify-content: center;
  top: 40%;
  position: relative;
}

.hero-img{
  width: 100%;
  height: auto;
}

#homepp{
  display: none;
}

.top-light-blue{
  @include center-txt;
  justify-content: center;
  background-color:$pp-light-navy;
  height:55%;
  position: relative;
}
.btm-dark-blue{
  @include center-txt;
  background-color:$pp-navy-blue;
  height:45%;
  position: relative;
}

.pp-can-solve{
  padding:10px 0px 10px;
}

.al-ss{
  height: 100px;
  margin-right: 10px;
}

.al-ss-mobile{
  display: none;
}

.heading-hero{
  padding: 0% 5% 0%;
}
.subheading{
  padding: 0% 5% 0%;
}

.plumbing-prob{
  font-weight: bold !important;
}

.getintouch{
  font-weight: 600;
}

.getintouch:hover{
  background-color: $pp-red !important;
  transition: background-color, 0.5s;
}

.blue-boxes{
  height:100%;
}
