.hero-img{
  position: relative;
  width: 100%;
  height: auto;
}

.top-light-blue{
  @include center-txt;
  justify-content: center;
  background-color:$pp-light-navy;
  height:55%;
  position: relative;
}
.btm-dark-blue{
  @include center-txt;
  background-color:$pp-navy-blue;
  height:45%;
  position: relative;
}

.heading-hero{
  padding: 5%;
}
.subheading{
  padding: 0% 5% 0%;
}

.plumbing-prob{
  font-weight: bold !important;
}

.getintouch{
  font-weight: 600;
  margin-top:20px !important;
  // color:$white !important;
}

.getintouch:hover{
  background-color: $pp-red !important;
  transition: background-color, 0.5s;
}

.blue-boxes{
  height:100%;
}

  .blue-boxes{
    @include breakpoint(medium down){
      height:500px;
    }
  }
