
.logo-loader{
  @include breakpoint(medium down){
    width: 200px;
  }
}
.heading-hero{
  @include breakpoint (large only){
    padding:1rem;
  }
}
 .plumbing-prob, .subheading {
  @include breakpoint (large only) {
  padding:1rem;
  }
}

.pp-can-solve{
  @include breakpoint(large only){
    padding:0 1rem 1rem;
  }
}

.getintouch{
  @include breakpoint(large only){
    margin-left:1rem !important;
  }
}

.al-ss{
  @include breakpoint (large only) {
    display: none;
  }
}

.top-light-blue, .btm-dark-blue{
  @include breakpoint(medium down){
    height:100%;
  }
}

.plumbing-prob, .intro-sub{
  @include breakpoint(medium down){
    text-align:center;
  }
}

.award-winning{
  @include breakpoint (medium down){
    text-align:center;
  }
}

.plumbing-prob{
  @include breakpoint(medium down){
    padding-bottom: $padding-med;
  }
}

.pp-can-solve{
  @include breakpoint (medium down){
    display: none;
  }
}

.getintouch{
  @include breakpoint(medium down){
    display: flex !important;
    justify-content: center;

  }
}

.al-ss{
  @include breakpoint(medium down){
    padding: 10px 0px 10px;
    display: flex;
    height: 100px;
    margin: 0 auto;
  }
}
.heading-hero,.subheading{
  @include breakpoint (medium down) {
    justify-content: flex-start;
    padding:$padding-med $padding-sm $padding-med;
  }
}
