.contact-hero{
  @include img-scale;
}

.rht-navy-box{
  @include center-txt;
  height:100%;
  width: 100%;
  background-color: $pp-navy-blue;
}

.contact-us-intro{
  @include font-bold(bold);
  margin:0;
  padding:$padding-med;
  // padding-bottom:0;
}

.contact-us-sub {
  padding-left:$padding-med;
  padding-right: $padding-med;
}

#call-btn{
  margin:$padding-med;
}

.call-desktop{
  position: relative;
  font-weight:800;
  margin: 0 !important;
}
