
.contact-us-intro{
  @include breakpoint (medium down){
    padding:$padding-med;
    text-align: center;
  }
}

.contact-us-sub{
  @include breakpoint (medium down) {
    text-align: center;
    padding: 0% 10% 10%;
  }
}

#call-btn{
    @include breakpoint(medium down){
    display: flex;
    justify-content: center;
    margin: 0 $padding-med $padding-med;
    padding: 5%;
  }
}

.call-desktop, .number{
  @include breakpoint  (1023px down){
    display:none;
  }
}
.call-mobile{
  @include breakpoint (1024px only){
    display:none;
  }
}
.call-mobile{
  @include breakpoint (1023px down){
    display:block;
  }
}

.form-intro{
  @include breakpoint (medium down){
  padding:$padding-sm;
  }
}

.intro-form-layout{
  @include breakpoint(medium down){
    padding-bottom:$padding-sm;
  }
}
.form-heading{
  @include breakpoint(medium down){
    padding-top:$padding-med;
    padding-left:rem-calc(20px);
    padding-right:rem-calc(20px);
  }
}

.prob{
  @include breakpoint (medium down){
    min-height:105px;
  }
}
