
.contact-us-intro{
  @include breakpoint (medium down){
    // padding:10%;
    padding:$padding-med;
    text-align: center;
  }
}

.contact-us-sub{
  @include breakpoint (medium down) {
    text-align: center;
    padding: 0% 10% 10%;
  }
}

#call-btn{
    @include breakpoint(medium down){
    display: flex;
    justify-content: center;
    margin: 0 10% 10%;
    padding: 5%;
  }
}

.call-desktop, .number{
  @include breakpoint  (1023px down){
    display:none;
  }
}
.call-mobile{
  @include breakpoint (1024px only){
    display:none;
  }
}
.call-mobile{
  @include breakpoint (1023px down){
    display:block;
  }
}

.form-intro{
  @include breakpoint (medium down){
  //  padding: 10% 0% 10%;
  padding-top:$padding-sm-side;
  padding-bottom: $padding-sm-side;
  }
}

.intro-form-layout{
  @include breakpoint(medium down){
    // padding: 0% 0% 10%;
    padding-bottom:$padding-sm;
  }
}
.form-heading{
  @include breakpoint(medium down){
    // padding:10% 6% 0%;
    padding-top:$padding-med;
    padding-left:rem-calc(20px);
    padding-right:rem-calc(20px);
  }
}
